* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* desktop font */
    --text-preset-1: 400 144px/auto "Bellefair", serif;
    --text-preset-2: 400 96px/auto "Bellefair", serif;
    --text-preset-3: 400 56px/auto "Bellefair", serif;
    --text-preset-4: 400 32px/auto "Bellefair", serif;
    --text-preset-5: 400 28px/auto 4px "Barlow Condensed", sans-serif;
    --text-preset-6: 400 28px/auto "Bellefair", serif;
    --text-preset-7: 400 14px/auto 2px "Barlow Condensed", sans-serif;
    --text-preset-8: 400 16px/auto 2px "Barlow Condensed", sans-serif;
    --text-preset-9: 400 18px/180% "Barlow", sans-serif;

    /* colors */
    --blue-1: #0b0d17;
    --blue-2: #d0d6f9;
    --white: #fff;
}

body {
    font-family: "Barlow condensed", sans-serif;
    background-color: var(--blue-1);
    color: var(--white);
}

@media (max-width: 800px) {
    /* tablet font */
    root {
        --text-preset-2: 400 80px/auto "Bellefair", serif;
        --text-preset-3: 400 40px/auto "Bellefair", serif;
        --text-preset-4: 400 24px/auto "Bellefair", serif;
        --text-preset-5: 400 20px/auto 4px "Barlow Condensed", sans-serif;
        --text-preset-9: 400 15px/180% "Barlow", sans-serif;
    }
}

@media (max-width: 600px) {
    root {
        --text-preset-1: 400 80px/auto "Bellefair", serif;
        --text-preset-2: 400 56px/auto "Bellefair", serif;
        --text-preset-3: 400 24px/auto "Bellefair", serif;
        --text-preset-4: 400 18px/auto "Bellefair", serif;
        --text-preset-6: 400 16px/auto "Bellefair", serif;
        --text-preset-8: 400 14px/auto 2px "Barlow Condensed", sans-serif;
        --text-preset-9: 400 15px/180% "Barlow", sans-serif;
    }
}