* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {

    /* fonts */
    --font-head: "Bellefair", serif;
    --font-sub: "Barlow Condensed", sans-serif;
    --font-text: "Barlow", sans-serif;

    /* font sizes */
    --fs-1: 144px;
    --fs-2: 96px;
    --fs-3: 56px;
    --fs-4: 32px;
    --fs-5: 28px;
    --fs-6: 28px;
    --fs-7: 14px;
    --fs-8: 16px;
    --fs-9: 18px;

    /* colors */
    --blue-900: #0b0d17;
    --blue-300: #d0d6f9;
    --white: #fff;
}

/* utility classes text presets */
.text-preset-1 {font: 400 var(--fs-1)/auto var(--font-head); text-transform: uppercase;}
.text-preset-2 {font: 400 var(--fs-2)/auto var(--font-head); text-transform: uppercase;}
.text-preset-3 {font: 400 var(--fs-3)/auto var(--font-head); text-transform: uppercase;}
.text-preset-4 {font: 400 var(--fs-4)/auto var(--font-head); text-transform: uppercase;}
.text-preset-5 {font: 400 var(--fs-5)/auto var(--font-sub); text-transform: uppercase; letter-spacing: 4px;}
.text-preset-6 {font: 400 var(--fs-6)/auto var(--font-head); text-transform: uppercase;}
.text-preset-7 {font: 400 var(--fs-7)/auto var(--font-sub); text-transform: uppercase; letter-spacing: 2px;}
.text-preset-8 {font: 400 var(--fs-8)/auto var(--font-sub); text-transform: uppercase; letter-spacing: 2px;}
.text-preset-8-bold {font: 700 var(--fs-8)/auto var(--font-sub); text-transform: uppercase; letter-spacing: 2px;}
.text-preset-9 {font: 400 var(--fs-9)/180% var(--font-text);}

.text-blue-900 {color: var(--blue-900);}
.text-blue-300 {color: var(--blue-300);}
.text-white {color: var(--white);}

body {
    font-family: var(--font-sub);
    background-color: var(--blue-900);
    color: var(--white);
}

@media (max-width: 800px) {
    /* tablet font */
    :root {
        --fs-2: 80px;
        --fs-3: 40px;
        --fs-4: 24px;
        --fs-5: 20px;
        --fs-9: 15px;
    }
}

@media (max-width: 600px) {
    :root {
        --fs-1: 80px;
        --fs-2: 56px;
        --fs-3: 24px;
        --fs-4: 18px;
        --fs-6: 16px;
        --fs-8: 14px;
        --fs-9: 15px;
    }
}