
/* ===== GLOBAL ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

a {
    color: inherit;
}

:root {
    /* fonts */
    --font-head: "Bellefair", serif;
    --font-sub: "Barlow Condensed", sans-serif;
    --font-text: "Barlow", sans-serif;

    /* font sizes */
    --fs-1: 9rem;
    --fs-2: 6rem;
    --fs-3: 3.5rem;
    --fs-4: 2rem;
    --fs-5: 1.75rem;
    --fs-6: 1.75rem;
    --fs-7: 0.875rem;
    --fs-8: 1rem;
    --fs-9: 1.125rem;
    --fs-10: 1.75rem;

    /* colors */
    --blue-900: #0b0d17;
    --blue-300: #d0d6f9;
    --white: #fff;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-10: rgba(255, 255, 255, 0.1);
}

/* --- Utility Classes: Typography (Shape) --- */
.text-preset-1 { font-weight: 400; font-size: var(--fs-1); font-family: var(--font-head); text-transform: uppercase; }
.text-preset-2 { font-weight: 400; font-size: var(--fs-2); font-family: var(--font-head); text-transform: uppercase; }
.text-preset-3 { font-weight: 400; font-size: var(--fs-3); font-family: var(--font-head); text-transform: uppercase; }
.text-preset-4 { font-weight: 400; font-size: var(--fs-4); font-family: var(--font-head); text-transform: uppercase; }
.text-preset-5 { font-weight: 400; font-size: var(--fs-5); font-family: var(--font-sub); text-transform: uppercase; letter-spacing: 0.25rem; }
.text-preset-6 { font-weight: 400; font-size: var(--fs-6); font-family: var(--font-head); text-transform: uppercase; }
.text-preset-7 { font-weight: 400; font-size: var(--fs-7); font-family: var(--font-sub); text-transform: uppercase; letter-spacing: 0.125rem; }
.text-preset-8 { font-weight: 400; font-size: var(--fs-8); font-family: var(--font-sub); text-transform: uppercase; letter-spacing: 0.125rem; }
.text-preset-8-bold { font-weight: 700; font-size: var(--fs-8); font-family: var(--font-sub); text-transform: uppercase; letter-spacing: 0.125rem; }
.text-preset-9 { font-weight: 400; font-size: var(--fs-9); font-family: var(--font-text); text-transform: none; line-height: 1.8; }
.text-preset-10 { font-weight: 700; font-size: var(--fs-10); font-family: var(--font-text); text-transform: uppercase; letter-spacing: .295rem; opacity: 25%;}

/* --- Utility Classes: Colors (Paint) --- */
.text-blue-900 { color: var(--blue-900); }
.text-blue-300 { color: var(--blue-300); }
.text-white { color: var(--white); }
.bg-blue-900 { background-color: var(--blue-900); }
.bg-blue-300 { background-color: var(--blue-300); }
.bg-white { background-color: var(--white); }

/* --- Base Styles --- */
body {
    font-family: var(--font-text);
    background-color: var(--blue-900);
    color: var(--white);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5625rem;
}

.logo {
    display: flex;
    padding-left: 4rem;
    height: 3rem;
    flex: 1;
    gap: 4rem;
    align-items: center;
    z-index: 1000;
    margin-right: -1rem;
}

.menu-line {
    background-color: var(--white);
    width: 100%;
    height: 1px;
    opacity: 25%;
}

.hamburger-menu {
    display: none;
}

.btn-close-menu {
    display: none;
}

.menu-nav-container {
    flex: 1;
    margin-left: -1rem;
    padding: 0 4rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(80px);
    max-width: calc(50% + 1rem);
}

.menu-nav span {
    margin-right: 0.75rem;
}

.menu-nav {
    flex: 1;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}

.menu-nav a {
    display: block;
    padding: 2.5rem 0;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
    max-height: 6rem;
}

.menu-nav a.active {
    border-bottom: 3px solid var(--white);
}

/* HOVER GLOBAL */

@media (hover:hover) {
    .menu-nav a:not(.active):hover {
        border-bottom: 3px solid var(--white-50);
    }
}

/* MEDIA QUERY GLOBAL */

@media (max-width: 81.25em) {
    :root {
        --fs-2: 5rem;
        --fs-3: 2.5rem;
        --fs-4: 2rem;
        --fs-5: 1.75rem;
        --fs-9: 1rem;
    }

    header {
        padding: 0;
    }

    .logo {
        margin: 0;
        margin-right: 2.5rem;
        flex: 0;
        padding-left: 2.5rem;
    }

    .menu-nav-container {
        margin: 0;
        max-width: none;
        padding: 0 2.5rem;
    }

    .menu-line {
        display: none;
    }
}

@media (max-width: 46.875em) {
    :root {
        --fs-1: 5rem;
        --fs-2: 3.5rem;
        --fs-3: 1.5rem;
        --fs-4: 1.125rem;
        --fs-5: 1rem;
        --fs-6: 1rem;
        --fs-8: 0.875rem;
        --fs-9: 0.9375rem;
    }

    .text-preset-5 { letter-spacing: 0.15em;}

    header {
        padding: 1.5rem 0;
    }

    .logo {
        height: 2.5rem;
        padding-left: 1.5rem;
    }

    .logo a img{
        height: 2.5rem;
    }

    .hamburger-menu {
        display: flex;
        justify-self: flex-end;
        border: none;
        background-color: transparent;
        padding-right: 1.5rem;
    }

    .menu-nav-container {
        display: none;
    }

    .menu-nav-container.is-open {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 2000;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(11, 13, 23, 0.15);
        backdrop-filter: blur(80px);
        width: 68.65%;
        padding: 0;
        padding-left: 2rem;
        gap: 3rem;
    }

    .menu-nav {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
        flex: 0;
        width: 100%;
    }

    .btn-close-menu {
        display: inline-block;
        margin-left: auto;
        border: none;
        background-color: transparent;
        justify-self: flex-end;
        padding: 2rem 1.5rem 2rem 0;
        cursor: pointer;
    }

    .menu-nav a {
        border-right: 3px solid transparent;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .menu-nav a.active {
        border-bottom: none;
        border-right: 3px solid var(--white);
    }
}

/* ===== HOME ===== */

.home {
    background-image: url('../assets/home/background-home-desktop.jpg');
}

main {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    flex: 1;
    align-items: flex-end;
}

.main-container {
    display: flex;
    max-width: 69.375rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.texts-home {
    display: flex;
    flex-direction: column;
    max-width: 33.75rem;
    gap: 1.5rem;
}

.btn-explore {
    width: 17rem;
    aspect-ratio: 1/1;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center ;
    border-radius: 50%;
    transition: 0.2s;
}

/* HOVERS */
@media (hover:hover) {

    .btn-explore:hover {
        box-shadow: 0 0 0 88px var(--white-10);
    }
}

/* Media Query 4k - HOME */
@media (min-width: 125em) {
    main {
        padding: calc((128 / 863) * 100%) 0;
    }

    .main-container {
        max-width: 93.75rem;
    }
}

/* Media Query Tablet - HOME */
@media (max-width: 81.25em) {

    .home {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }

    main {
        padding: 8rem 2.5rem;
        align-items: stretch;
    }

    .main-container {
        flex-direction: column;
        justify-content: space-between;
    }

    .texts-home {
        text-align: center;
        gap: 1.5rem;
        max-width: 32rem;
        margin-bottom: 2.8125rem;
    }
}

/* Media Query Mobile - HOME */
@media (max-width: 46.875em) {

    .home {
        background-image: url('../assets/home/background-home-mobile.jpg');
    }

    main {
        padding: 1.5rem;
    }

    .texts-home {
        gap: 1.5rem;
        justify-self: flex-start;
        margin: 0;
    }

    .btn-explore {
        width: 9rem;
        margin: auto 0;
    }
}

/* ===== DESTINATION ===== */

.destination {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
}

.main__destination {
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
}

.main__destination__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
    width: 100%;
    max-width: 69.375rem;
}

.main__destination__container h2 {
    --fs-8: 1.75rem;
}

.main__destination__container h2 span {
    margin-right: 1.5rem;
}

.main__destination__content {
    display: flex;
    flex: 1;
    gap: 2rem;
    width: 100%;
    align-items: center;
    margin: auto 0;
}

.main__destination__wrapper__img, .main__destination__wrapper__txt {
    display: flex;
    flex: 1;
    justify-content: center;
}

.main__destination__content img {
    width: 480px;
}

.planet-menu ul {
    display: flex;
    gap: 2rem;    
}

.planet-menu button:not(.active) {
    color: var(--blue-300);
}

.planet-menu button {
    border-bottom: 3px solid transparent;
    padding-bottom: .8125rem;
    transition: 0.2s;
}

.planet-menu button.active {
    border-bottom: 3px solid var(--white);
}

.destination__texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 27.8125rem;
}

.separation__line {
    background-color: var(--white);
    width: 100%;
    height: 1px;
    opacity: 25%;
}

.planet__info {
    display: flex;
    gap: 1.5rem

}

.planet__info__distance, .planet__info__time {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    flex: 1;
}

@media (hover:hover) {
    .planet-menu button:hover:not(.active) {
        border-bottom: 3px solid var(--white-50);
    }
}

/* Media Query Tablet - DESTINATION */

@media (max-width: 81.25em) {
    :root {
        --fs-2: 5rem;
        --fs-5:1.25rem;
        --fs-10: 1.25rem;
    }

    .text-preset-5 {letter-spacing: 0.15em;}
    .text-preset-10 {letter-spacing: 0.15em;}

    .destination {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    .main__destination {
        padding: 2.5rem;
    }

    .main__destination__content {
        flex-direction: column;
    }

    .main__destination__wrapper__img, .main__destination__wrapper__txt {
        align-items: center;
    }

    .main__destination__content img {
        width: 300px;
        height: 300px;
    }

    .destination__texts {
        text-align: center;
        gap: 1.5rem;
        max-width: 32.125rem;
    }

    .planet-menu ul{
        justify-content: center;
    }
}